:root {
  /* Theme 1 */
  --bg-very-dark-desaturated-blue-main-bg: hsl(222, 26%, 31%);
  --bg-very-dark-desaturated-blue-togglee-bg-keypad-bg: hsl(223, 31%, 20%);
  --bg-very-dark-desaturated-blue-screen-bg: hsl(224, 36%, 15%);
  --key-desaturated-dark-blue-key-bg: hsl(225, 21%, 49%);
  --key-desaturated-dark-blue-key-shadow: hsl(224, 28%, 35%);
  --key-red-key-bg-toggle: hsl(6, 63%, 50%);
  --key-dark-red-key-shadow: hsl(6, 70%, 34%);
  --key-light-grayish-orange-key-bg: hsl(30, 25%, 89%);
  --key-grayish-orange-key-shadow: hsl(28, 16%, 65%);
  --text-very-dark-grayish-blue: hsl(221, 14%, 31%);
  --text-white: hsl(0, 0%, 100%);
  /* Theme 2 */
  --bg-light-gray-main-bg: hsl(0, 0%, 90%);
  --bg-grayish-red-togglee-bg-keypad-bg: hsl(0, 5%, 81%);
  --bg-very-light-gray-screen-bg: hsl(0, 0%, 93%);
  --key-dark-moderate-cyan-key-bg: hsl(185, 42%, 37%);
  --key-very-dark-cyan-key-shadow: hsl(185, 58%, 25%);
  --key-orange-key-bg-toggle: hsl(25, 98%, 40%);
  --key-dark-orange-key-shadow: hsl(25, 99%, 27%);
  --key-light-grayish-yellow-key-bg: hsl(45, 7%, 89%);
  --key-dark-grayish-orange-key-shadow: hsl(35, 11%, 61%);
  --text-very-dark-grayish-yellow: hsl(60, 10%, 19%);
  --text-white: hsl(0, 0%, 100%);
  /* Theme 3 */
  --bg-very-dark-violet-main-bg: hsl(268, 75%, 9%);
  --bg-very-dark-violet-togglee-bg-keypad-bg-screen-bg: hsl(268, 71%, 12%);
  --key-dark-violet-key-bg: hsl(281, 89%, 26%);
  --key-vivid-magenta-key-shadow: hsl(285, 91%, 52%);
  --key-pure-cyan-key-bg-toggle: hsl(176, 100%, 44%);
  --key-soft-cyan-key-shadow: hsl(177, 92%, 70%);
  --key-very-dark-violet-key-bg: hsl(45, 7%, 89%);
  --key-dark-magenta-key-shadow: hsl(290, 70%, 36%);
  --text-light-yellow: hsl(52, 100%, 62%);
  --text-very-dark-blue: hsl(198, 20%, 13%);
  --text-white: hsl(0, 0%, 100%);
}

/* :root .dark-theme {
} */
